body {
    margin: 30px;
}

.plays {
    background-color: rgb(75, 61, 155);
    padding: 1rem;
    border: 2px solid white;
    color: white;
    text-align: center;
    font-weight: bold;
}

#rock #paper #scissors {
    background-color: white;
}